  :root {
      --bg-color: #2c2640;
      --text-color: #e6e6fa;
      --highlight-color: #9370db;
      --secondary-bg: #000000;
      --checkbox-bg: #4a4262;
      --checkbox-checked-bg: #7e57c2;
    }


    .light-mode {
      --bg-color: #f0e6ff;
      --text-color: #2c2640;
      --highlight-color: #7e57c2;
      --secondary-bg: #d8c8ff;
      --checkbox-bg: #b19cd9;
      --checkbox-checked-bg: #9370db;
    }

    .logo-title {
      display: flex;
      align-items: center;
    }
    
    .mode-toggle {
      background: none;
      color: var(--text-color);
      border: none;
      padding: 0.5rem;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      height: 8vh;
      width: 8vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .mode-toggle:hover {
      background-color: var(--checkbox-checked-bg);
    }

    .mode-icon {
      height: 100%;
      width: 100%;
      color: var(--text-color);
      transition: transform 0.3s ease;
    }
    
    .light-mode .mode-icon {
      transform: rotate(180deg);
    }
    
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    
    body {
      font-family: Arial, sans-serif;
      background-color: var(--bg-color);
      color: var(--text-color);
      line-height: 1.4;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
    
    header {
      background-color: var(--secondary-bg);
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 10vh;
    }
    
    .logo {
      height: 8vh;
      width: auto;
      margin-right: 1rem;
      object-fit: contain;
  }
    
    .app-name {
      font-size: 1.5rem;
      font-weight: bold;
    }
    
    #search-container {
      position: sticky;
      top: 0;
      background-color: var(--bg-color);
      padding: 0.5rem;
      z-index: 10;
      height: 6vh;
    }
    
    #search-input-container {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      height: 100%;
      min-width: 0;
    }

    #search-input-container.hide-search {
      display: flex;
      justify-content: flex-end;
    }

    #search-input-container.hide-search input,
    #search-input-container.hide-search #clear-search,
    #search-input-container.hide-search .checkbox-container {
        display: none;
    }

    #search-input-container.hide-search #back-button {
        margin-right: 0;
    }

    body.lyrics-view #search-input-container {
      background-color: transparent;
    }

    body.lyrics-view #search-input-container #search-bar,
    body.lyrics-view #search-input-container #clear-search {
        background-color: transparent;
    }

    body.lyrics-view #search-input-container .checkbox-container {
        display: none; /* Since you already hide this in hide-search */
    }
  

    
    #search-bar {
      flex: 1;
      min-width: 0;
      padding: 0.5rem;
      border: none;
      border-radius: 5px 0 0 5px;
      background-color: var(--secondary-bg);
      color: var(--text-color);
    }
    
    #clear-search, #back-button {
      padding: 0.5rem;
      border: none;
      border-radius: 0 5px 5px 0;
      background-color: var(--highlight-color);
      color: var(--text-color);
      cursor: pointer;
      white-space: nowrap;
    }
    
    #back-button {
      padding: 0.4rem 0.8rem;
      border-radius: 5px;
      font-size: 0.9rem;
      user-select: none;
    }
    
      #content {
          flex: 1;
          overflow-y: auto;
      }
    
    #song-list, #lyrics-display {
      height: 100%;
      padding: 0.5rem;
    }
    
    #songs {
      list-style-type: none;
      padding: 0;
    }
    
    #songs li {
      background-color: var(--secondary-bg);
      margin-bottom: 0.5rem;
      padding: 0.6rem;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
    }
    
    #songs li:hover {
      background-color: var(--highlight-color);
    }
    
    #songs li .title {
      font-weight: bold;
    }
    
    #songs li .artist {
      color: var(--highlight-color);
    }
    
    #songs li .preview {
      font-style: italic;
      color: var(--text-color);
      opacity: 0.8;
      margin-top: 0.3rem;
    }
    
    #song-title {
      margin-bottom: 0.2rem;
      font-size: 1.4rem;
    }
    
    #song-artist {
      margin-bottom: 0.6rem;
      font-size: 1rem;
      font-weight: normal;
      color: var(--highlight-color);
      cursor: pointer;
    }
    
    #song-artist:hover {
      text-decoration: underline;
    }
    
    #song-lyrics {
      white-space: pre-wrap;
      word-wrap: break-word;
      font-size: 0.9rem;
      line-height: 1.4;
    }

    footer {
      background-color: var(--secondary-bg);
      color: var(--text-color);
      padding: 0.5rem;
      text-align: center;
      margin-top: auto;
      height: 5vh;
    }
    
    @media (min-width: 768px) {
      #content {
        display: flex;
      }
    
      #song-list {
        width: 40%;
        height: 79vh; /* Adjust based on your header and footer height */
        overflow-y: auto;
      }
    
      #lyrics-display {
        width: 60%;
        height: 79vh; /* Adjust based on your header and footer height */
        position:relative;
        right: 0;
        overflow-y: auto;
        padding-right: 0.5rem;
        background-color: var(--bg-color);
      }
    
      #back-button {
        display: none;
      }
    }

    #song-list::-webkit-scrollbar,
    #lyrics-display::-webkit-scrollbar {
      width: 10px;
    }

    #song-list::-webkit-scrollbar-track,
    #lyrics-display::-webkit-scrollbar-track {
      background: var(--secondary-bg);
    }

    #song-list::-webkit-scrollbar-thumb,
    #lyrics-display::-webkit-scrollbar-thumb {
      background: var(--highlight-color);
      border-radius: 5px;
    }

    #song-list::-webkit-scrollbar-thumb:hover,
    #lyrics-display::-webkit-scrollbar-thumb:hover {
      background: var(--checkbox-checked-bg);
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 48px;
      height: 24px;
      margin-left: 8px;
    }
    
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--checkbox-bg);
      transition: .3s;
      border-radius: 24px;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      transition: .3s;
      border-radius: 50%;
    }
    
    input:checked + .slider {
      background-color: var(--checkbox-checked-bg);
    }
    
    input:checked + .slider:before {
      transform: translateX(24px);
    }

    

    .play-button {
      background-color: var(--highlight-color);
      color: var(--text-color);
      border: none;
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }
  
    .play-button:hover {
      background-color: darken(var(--highlight-color), 10%); 
    }
  
    /* Optional: Add a subtle box-shadow */
    .play-button {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }